* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: aqua;
}

.container-wrapper {
    width: 90%;
    height: 75vh;
    margin-inline: auto;
    background-color: rgb(202, 202, 206);
    display: flex;
}

.footer {
    width: 100%;
    height: 15vh;
    background-color: cadetblue;
}

.categories-list {
    width: 20vw;
    height: 100%;
    background-color: blueviolet;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* background-color: red; */
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    height: 5px;
    background-color: yellow;
}

.category-element {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    margin: 10px;
    text-transform: capitalize;
}

.line {
    width: 80%;
    height: 2px;
    margin-inline: auto;
    background-color: red;
}

.main-content {
    width: 80vw;
    height: 100%;
    background-color: chartreuse;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.product-element{
    width: 200px;
    height: 400px;
    background-color:aqua;
    margin: 5px;
}
.product-img{
    width:200px;
    height: 150px;
    object-fit: cover;
}
