* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: aqua;
}

.container-wrapper {
    width: 90%;
    height: 75vh;
    margin-inline: auto;
    background-color: rgb(202, 202, 206);
}

.footer {
    width: 100%;
    height: 15vh;
    background-color: cadetblue;
}
.categories-list{
    width: 20vw;
    height: 100%;
    background-color: blueviolet;
}