* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #9ED2BE;
    --header: #9ED2BE;
    --btn: #7EAA92;
    --side: #D5FFE4;
    --ads: #656c71;
    --footer: #AAC8A7;
    --line: #FFE79B;
    --product: #C0EEE4;
    --cart: #F8F988;
    --linkedin: #0A66C2;
    --gitHub: #010409;
    --instagram: #FE0E56;
}

body {
    background-color: var(--background);
}

.container {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 50px;
    background-color: var(--header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 5px; */
    position: fixed;
}

.img-logo {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.search {
    height: 30px;
    border-radius: 8px;
    border: none;
    padding-inline: 5px;
    outline: none;
}

.btn-search {
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: var(--btn);
    color: aliceblue;
    font-size: .9rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.btn-cart {
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#itemInCart {
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    font-size: .8rem;
    top: 6px;
    right: 265px;
    color: white;
    background-color: var(--instagram);
    border: none;
    display: none;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--side);
    border-radius: 8px;
    margin: 10px;
    padding-top: 10px;
}

.forAds {
    margin-top: 50px;
    width: 90%;
    height: 25vh;
    margin-inline: auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECC1B2;
    font-size: 1.2rem;
    background-color: var(--ads);
}

.container-wrapper {
    width: 90%;
    margin-inline: auto;
    border-radius: 8px;
    display: flex;
    padding-top: 60px;
}

.footer {
    width: 100%;
    height: 90px;
    background-color: var(--footer);
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    height: 5px;
    background-color: transparent;
}

.category-element {
    width: 95%;
    height: 30px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

.category-element:active,
.img-logo:Active,
.pagingElement:Active,
.add-btn:active,
.cart-box-delete:active,
.btn-search:active,
.social *:active,
.total-btn:active {
    transform: translateX(1.5px) translateY(1.5px);
}

.line {
    width: 80%;
    height: 2px;
    margin-inline: auto;
    background-color: var(--line);
}

.main-content {
    width: 80%;
    /* height: 100%; */
    background-color: var(--side);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px;
    border-radius: 8px;
}


.main-content-scroll {
    height: 150vh;
    overflow: scroll;
}

.product-element {
    width: 20%;
    height: 520px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin: 20px 32px 0px;
    background-color: var(--product);
    border-radius: 8px;
}

.product-img {
    width: 100%;
    height: 50%;
    object-fit: fill;
}

.product-title {
    height: 10%;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
}

.product-price {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 10px;
    margin-top: 5px;
    display: flex;
}

.product-description {
    height: 28%;
    font-size: 1rem;
    padding: 10px;
    overflow: hidden;
}

.add-btn {
    width: 90px;
    height: 30px;
    background-color: var(--btn);
    color: antiquewhite;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 60%;
}

.paging {
    width: 20%;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
}

.pagingElement {
    width: 20px;
    margin: auto;
    cursor: pointer;
}

.error-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.error-text {
    height: 10%;
    color: var(--instagram);
    font-size: 2rem;
}

.error-img {
    width: 40%;
    margin: auto;

}


.madeWith span {
    color: #1d6c9d;
}

.social>* {

    font-size: 1.5rem;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
}

.social>:first-child {
    color: var(--linkedin);
}

.social>:nth-child(2) {
    color: var(--gitHub);
}

.social>:nth-child(3) {
    color: var(--instagram);
}

.cart {
    width: 400px;
    height: 130px;
    background-color: var(--cart);
    position: absolute;
    top: 35px;
    right: 150px;
    overflow-Y: scroll;
    display: none;
}

.cart-box {
    width: 95%;
    height: 25px;
    display: flex;
    border-bottom: 1px solid gray;
    margin: 10px auto;
    font-size: .9rem;
}

.cart-box-title {
    width: 75%;
    height: 20px;
    margin: auto;

}

.cart-box-price {
    width: 10%;
    height: 20px;
    margin: auto;
}

.cart-box-delete {
    width: 6.5%;
    height: 20px;
    cursor: pointer;
    margin: auto;
    font-size: 2rem;
}


.cart-box-footer {
    display: flex;
    width: 50%;
    height: 30px;
    margin-left: 50%;
    align-items: center;
    margin-top: 7%;
}

.cart-box-footer-total,
.cart-box-footer-text,
.cart-box-footer-btn {
    width: 60px;
    height: 30px;
    text-align: center;
}

.cart-box-footer-btn {
    background-color: var(--btn);
    cursor: pointer;
}

/* კალათის დიზაინი */
.cart-container {
    width: 80%;
    height: 100%;
    margin-inline: auto;
    display: flex;

    justify-content: space-between;
    /* align-items: center; */
}

.cart-container::before {
    content: 'My Cart';
    position: relative;
    width: 130px;
    height: 60px;
    left: 50px;
    top: 50px;
    font-size: 1.8rem;

}

.items-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.item {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-top: 10px;
    /* margin-left: -30px; */







}

.total {
    width: 25%;
    height: 100px;
    margin: 100px 10px 0;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 1.1rem;
}

.item-img {
    width: 80px;
    /* height: 60px; */
    height: auto;
    margin-left: 5px;
}

.item-title {
    width: 200px;
    margin-left: 20px;
}

.item-count {
    width: 100px;
    height: 35px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

.item-count-text {
    width: 20px;
    height: 20px;
    /* margin-left:-80px; */
}

/* .item-count-text::before {
    content: 'price';
    position: relative;
    left: 160px;
    bottom: 40px;
    font-size: 1.1rem;
    font-style: oblique;
} */

.item-count-minus,
.item-count-plus,
.item-currency {
    width: 18px;
    height: 20px;

}

.item-currency {
    margin-left: 100px;
}

.item-price {
    width: 100px;
}

.item-delete {
    width: 25px;
    height: 25px;
    margin-left: 50px;

}


.total-currency {
    width: 15px;
    height: 15px;
    margin-top: 2px;


}



.total-btn {
    width: 100%;
    height: 40px;
    background-color: var(--btn);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.empty-cart {
    width: 25%;
    height: 60%;
    padding-top: 100px;
    margin-inline: auto;
    font-size: 1.5rem;
    text-align: center;
}

.empty-cart>img {
    width: 500px;
    height: 400px;
}